.tabsContainer {
    composes: pl-8 from global;
    composes: pr-8 from global;
    composes: lg_p-0 from global;
}
.tabsList {
    composes: flex from global;
    composes: flex-wrap from global;
    composes: border-b from global;
    composes: border-gray-grayCoose from global;
}

.tab {
    composes: border from global;
    composes: border-solid from global;
    composes: border-gray-grayCoose from global;
    composes: font-bold from global;
    composes: pt-4 from global;
    composes: pb-4 from global;
    composes: pl-8 from global;
    composes: pr-8 from global;
    composes: cursor-pointer from global;
    composes: lg_px-10 from global;
    composes: border-b-0 from global;
}

.activeTab {
    composes: bg-gray-tabActive from global;
}

.textContainer {
    composes: pt-6 from global;
    composes: pb-4 from global;
}

.descriptionText {
    composes: mt-3 from global;
    composes: text-sm from global;
}

